.chattHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.chattHeader__hash{
    color: black;
    font-size: 30px;
    padding: 10px;
}

.chattHeader__left > h3 {
    display: flex;
    align-items: center;
    color: black;
}
.chattHeader__right{
    display: flex;
    
    flex: 0.2;
    justify-content: space-between;
}
.chattHeader__right > Button{
    border-radius: 10px;
    background-color: rgb(207, 165, 165);
    color: black;
    size: 5px;
}
.chattHeader__right > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}
.chattHeader__right > .MuiSvgIcon-root:hover {
    color: white;

}
.chattHeader__search{
    display: flex;
    align-items: center;
    color: black;
   
    border-radius: 3px;
    padding: 3px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.chattHeader__search > input {
    background: transparent;
    outline-width: 0;
    color: black;
    border: none;
}